@{
  ViewBag.Title = "Screeny";
}

<div class="jumbotron">
  <h1>Screeny</h1>
  <p class="lead">App to help with uploading images from devices... Poker Web Client Team!</p>
</div>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <div class="row">
      <div class="col-md-4">
          <label class="btn btn-primary" for="photo">
              <input id="photo" type="file" name="photo" style="display:none;" onchange="$('#upload-file-info').html($(this).val()); $('#status').html('');">
              Browse Photos
          </label>
          <br/>
          <span class='label label-info' id="upload-file-info"></span>
          <br />
          <br />
          <input class="btn btn-default btn-lg btn-block" type="submit" value="Upload" onclick="ga('send', 'event', 'Image', 'upload', $('#upload-file-info').html());" />
          <div id="status">@ViewBag.Message</div>
      </div>
    </div>
}


<hr />

